/* Add CSS Styling */
.firstBtn {
  background-color: black;
  color: white;
}

.secondBtn {
  background-color: yellow;
}

.textStyles {
  font-size: 28px;
  font-family: "Helvetica", "Times New Roman", "sans-serif";
}
